.wp-block-prc-block-doi-citation {
	h5 {
		margin: 0;
		font-size: inherit;
		line-height: inherit;
		display: inline;
		font-weight: bold;
		margin-inline-end: 0.75rem;
	}

	p {
		margin: 0;
		font-size: inherit;
		line-height: inherit;
		display: inline;
	}
}


