.wp-block-prc-block-doi-citation {
	strong {
		margin: 0;
		font-size: inherit;
		line-height: inherit;
		display: inline;
		font-weight: bold;
		margin-inline-end: 0.25em;
	}

	p {
		margin: 0;
		font-size: inherit;
		line-height: inherit;
		display: inline;
	}
}
